@import "tailwindcss";
@import "./css/fonts.css";
@import "./css/frame.css";

html {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8FAFC;
}

.circle-1 {
    width: 350px;
    height: 350px;
    border-radius: 1000px;
    animation: pulse-1 ease-in-out 3s alternate infinite;
}

.hero-1 {
    padding: 175px;
    border-radius: 1000px;
    background-image: url(./assets/img/logo/Logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: neon-1 ease-in-out 3s alternate infinite;
}

.hero-2 {
    padding: 135px;
    border-radius: 1000px;
    background-image: url(./assets/img/logo/Ares.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: neon-1 ease-in-out 3s alternate infinite;
}